urls_downloaded_cb({"token": "control", "urls": ["design/2008_design/2008_Jog_and_Shuttle_controls_code_experiment.html#jog-control1", "design/2008_design/2008_Jog_and_Shuttle_controls_code_experiment.html#jog-control", "design/2008_design/2008_Jog_and_Shuttle_controls_design.html#with-a-custom-jog-control", "design/Proxy_editing_requirements.html#control", "Roadmap.html#control", "Bug_reporting.html#bug-reporting", "Git_repositories.html#official-gnome-repository", "Git.html#git", "Plugins.html#the-deluge-way", "Plugins.html#the-jokosher-way", "QA_Scenarios.html#test-ripple-editing", "design/2008_design/2008_UI_Design.html#default-property-editor", "design/2008_design/2008_Jog_and_Shuttle_controls_code_experiment.html#about", "design/2008_design/2008_Architectural_Redesign/Timeline.html#overall", "design/2008_design/2008_Architectural_Redesign/Timeline.html#between-timeline-and-tracks"]});