urls_downloaded_cb({"token": "Control", "urls": ["Pitivi-1.0/design/2008_design/2008_Jog_and_Shuttle_controls_code_experiment.html#jog-control1", "Pitivi-1.0/design/2008_design/2008_Jog_and_Shuttle_controls_code_experiment.html#jog-control", "Pitivi-1.0/design/Proxy_editing_requirements.html#control", "Pitivi-1.0/Roadmap.html#control", "design/2008_design/2008_Jog_and_Shuttle_controls_code_experiment.html#jog-control1", "design/2008_design/2008_Jog_and_Shuttle_controls_code_experiment.html#jog-control", "design/Proxy_editing_requirements.html#control", "Roadmap.html#control"]});