urls_downloaded_cb({"token": "control", "urls": ["Pitivi-1.0/Notes_On_FCP.html#page-description", "Pitivi-1.0/Bug_reporting.html#page-description", "Pitivi-1.0/Git_repositories.html#page-description", "Pitivi-1.0/Git.html#page-description", "Pitivi-1.0/Plugins.html#page-description", "Pitivi-1.0/QA_Scenarios.html#page-description", "Pitivi-1.0/design/2008_design/2008_UI_Design.html#page-description", "Pitivi-1.0/design/2008_design/2008_Jog_and_Shuttle_controls_code_experiment.html#page-description", "Pitivi-1.0/design/2008_design/2008_Architectural_Redesign/Timeline.html#page-description"]});