urls_downloaded_cb({"token":"fastab.sample","urls":[{"url":"attic/Building_with_Windows.html#edit-fstab","node_type":"ul","page":"Building with Windows","sections":["Setup the shell","Edit fstab"],"context":{"gi-language":["default"]}}]});