urls_downloaded_cb({"token":"wheezy.template","urls":[{"url":"Updating_Python_dependencies.html#updating-the-development-tools","node_type":"p","page":"Python dependencies","sections":["Python dependencies","Updating the development tools"],"context":{"gi-language":["default"]}}]});